body {
  background-color: black;
  color: green;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 1% auto;
}


th, td {
  border: 1px solid darkblue;
}


.robbed-life {
  color: crimson;
  font-size: larger;
}


@media (min-width: 800px) {
  #met-office-container {
    width: 95%;
    display: flex;
    gap: 1em;
    margin: auto;
  }


  #met-office-container table {
    width: 50%;
    box-sizing: border-box;
    font-size: small;
  }
}