body {
  background-color: black;
  color: green;
}

table {
  border-collapse: collapse;
}


th, td {
  border: 1px solid darkblue;
  text-align: center
}


.weather, .robbed-life {
  text-align: center;
  margin: 1% auto;
}


.robbed-life {
  color: crimson;
  font-size: larger;
}


@media (max-width: 767px) {
  #met-office-container {
    width: 95%;
    display: flex;
    gap: 1em;
    margin: auto;
    font-size: 0.6em;
  }


  #met-office-container table {
    width: 50%;
    box-sizing: border-box;
  }
}